@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html,body{
overflow-x: hidden;
} */

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  line-height: 1.75;
}
h3 {
  font-size: 1.35rem;
}

h3 {
  font-size:1.25rem; 
}

ul li {
    list-style-type: disc;
    margin-left:.75rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 

.slider {
  border-radius: 5px;
  background: #d3d3d3;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}